@{
  string isChecked = "";
}
@model Factory.Models.Engineer

@Html.LabelFor(e => e.FirstName)
@Html.TextBoxFor(e => e.FirstName)
@Html.ValidationMessageFor(e => e.FirstName)
@Html.LabelFor(e => e.LastName)
@Html.TextBoxFor(e => e.LastName)
@Html.ValidationMessageFor(e => e.LastName)

<h5>Machines</h5>
@if (ViewBag.Machines.Count == 0)
{
  <p>No machines currently available</p>
}
else
{
  <ul>
  @for (int i = 0; i < ViewBag.Machines.Count; i++)
  {
    @if (ViewBag.AuthorizedMachines != null)
    {
      isChecked = (ViewBag.AuthorizedMachines.Contains(@ViewBag.Machines[i].MachineId)) ? "checked" : "";
    }

    <li>
      <input type="checkbox" id="@ViewBag.Machines[i].MachineId-id" name="MachineId" value="@ViewBag.Machines[i].MachineId" @isChecked>
      <label for="@ViewBag.Machines[i].MachineId-id">@ViewBag.Machines[i].ModelName</label><br />
    </li>
  }
  </ul>
}
