@model Factory.Models.Engineer

@Html.LabelFor(e => e.FirstName)
@Html.TextBoxFor(e => e.FirstName)
@Html.ValidationMessageFor(e => e.FirstName)
@Html.LabelFor(e => e.LastName)
@Html.TextBoxFor(e => e.LastName)
@Html.ValidationMessageFor(e => e.LastName)

<h5>Current Machines</h5>
@for (int i = 0; i < ViewBag.Machines.Count; i++)
{
  <input type="checkbox" name="MachineId" value="@ViewBag.Machines[i].MachineId">@ViewBag.Machines[i].ModelName<br />
}

@*
Need to add a section for selecting machine/machines, or none at all
*@
