@using Factory.Models
@model List<Factory.Models.Engineer>

<table>
  <thead>
    <tr>
      <th style='width: 15%'>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th style='width: 20%'></th>
    </tr>
  </thead>
  <tbody>
@foreach (Engineer e in Model)
{
  <tr>
    <td>@e.EngineerId</td>
    <td>@e.FirstName</td>
    <td>@e.LastName</td>
    <td>
        @Html.ActionLink("Details", "Details", "Engineers", new {id = e.EngineerId }) | 
        @Html.ActionLink("Edit", "Edit", "Engineers", new { id = e.EngineerId }) | 
        @Html.ActionLink("Delete", "Delete", "Engineers", new { id = e.EngineerId})</td>
  </tr>
}
  </tbody>
</table>

