@using Factory.Models
@model List<Factory.Models.Machine>

<table>
  <thead>
    <tr>
      <th style='width: 15%'>ID</th>
      <th>Machine Model</th>
      <th style='width: 20%'></th>
    </tr>
  </thead>
  <tbody>
@foreach (Machine c in Model)
{
  <tr>
    <td>@c.MachineId</td>
    <td>@c.ModelName</td>
    <td>@Html.ActionLink("Details", "Details", "Machines", new {id = c.MachineId }) | 
        @Html.ActionLink("Edit", "Edit", "Machines", new { id = c.MachineId }) | 
        @Html.ActionLink("Delete", "Delete", "Machines", new { id = c.MachineId})</td>
  </tr>
}
  </tbody>
</table>
